<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Main page
	link(href='assets/css/index.css' rel="stylesheet")
body
	.wrapper
		.left__block 
			.left__block-header Открытый вебинар
			.left__block-wrap
				.left__block-form_title Зарегистрироваться на вебинар
				.left__block-form
					input(type="text" name="name" placeholder="Имя").form__name.form-item
					input(type="text" name="name" placeholder="Фамилия").form__surname.form-item
					input(type="email" name="email" placeholder="Е-mail").form__email.form-item
					button(type="submit").form__submit Зарегистрироваться!
			.left__block-footer
				ul.footer__socials
					li.footer__socials
						a.footer__social-link(href="#"  target="_blank")
							span.fa &#xf189;
		
		.container
			.right__block
				.right__block-title 
					p Работа в крупной IT-компании,
					p или 
					p Что требуется от Frontend-разработчика, чтобы на нее устроиться?
				.right__block-text <b>10 декабря в 16.00</b> с вами бесплатно поделятся реальным опытом люди, которые уже получили ответ на этот вопрос – <b>разработчик «ВКонтакте» Тимофей Чаптыков</b> и <b>разработчик Mail.ru Дарья Пушкарская</b>.
				.right__block-text 
					.text-head Участвуйте в нашем открытом вебинаре и вы узнаете:
					ol.right__block-text-list
						li.right__block-text-item какими технологиями нужно владеть в обязательном порядке
						li.right__block-text-item как составить резюме, чтобы повысить свои шансы на трудоустройство
						li.right__block-text-item какие работы представить в портфолио
						li.right__block-text-item как подготовиться к собеседованию и пройти его
				.right__block-text-wrap
					.right__block-desc 
						.right__block-desc-title Для успешного трудоустройства, особенно в сфере IT, мало просто обладать высокой квалификацией 
						p Часто бывает так, что даже суперспециалист не может подыскать себе хорошую работу, а компании, которым так необходим именно такой сотрудник, не могут его отыскать. Это происходит потому, что далеко не все профессионалы умеют правильно себя позиционировать и продавать.
					.right__block-desc 
						.right__block-desc-title На вебинаре о своем опыте расскажут люди, которые самостоятельно прошли весь путь с самого начала
						p Если вам не хватает компетенций, и вы тонете в море представленной в интернете информации, они расскажут, как ускорить свое обучение и выйти на конкурентный уровень. Если у вас в портфолио уже достаточно крутых проектов, но вам до сих пор не повезло с трудоустройством, вы узнаете о том, как правильно составить резюме и максимизировать свои шансы. Наконец, вы сможете задать свои вопросы и гарантированно получить ответы на них!
				.right__block-speakers 
					.right__block-speakers-title Ведущие вебинара:
					.speakers
						.speaker
							.wrap-imga
								.img-wrap
									img(src="/assets/img/timofey2.png", alt="")
								a(href="https://vk.com/tim.chaptykov" target="_blank")
									span.fa &#xf189;
							p.speaker-title Тимофей Чаптыков
							p.speaker-description <b>Ранее:</b> победитель Всероссийских Дельфийских игр в номинации «Веб-дизайн»,  сооснователь красноярского коворкинг-кафе «Фургон», работал в digital-агентстве SmartHeart и компании 2ГИС.
							p.speaker-description <b>В настоящее время:</b> разработчик «ВКонтакте».
						.speaker
							.wrap-imga
								.img-wrap
									img(src="/assets/img/dasha2.jpg", alt="")
								a(href="https://vk.com/d_pushkarskaya"  target="_blank")
									span.fa &#xf189;
							p.speaker-title Дарья Пушкарская
							p.speaker-description <b>Ранее:</b> работала разработчиком интерфейсов в компании 2ГИС, а также преподавателем и наставником в школе LoftSchool.
							p.speaker-description <b>В настоящее время:</b> программист Mail.ru. 

