

.left__block{
	z-index: 9999;
	width: $left-block-width;
	float: left;
	position: fixed;
	background-color: $dark-grey;
	overflow-y: auto;
	height: 100vh;

	.left__block-header{
		padding: 10px;
		font-size: 1.5rem;
		line-height: 3rem;
		vertical-align: middle;
		background-color: rgba(white, .2);
		@include robotoB();
		color: $pink;
	}

	.left__block-wrap{
		padding: 10px;

		.left__block-form_title{
			text-align: center;
			@include robotoB();
			color: white;
			margin: 0 0 10px 0;
			text-transform: uppercase;
			margin: 30px;
			color: rgba(white, .8);
		}

		.left__block-form_desc {
			margin: 0 0 20px 0;
			font-size: 12px;
			color: $pink;
		}

			.left__block-form_desc-item {
				margin: 0;
			}

		.left__block-form{
			margin: 0 0 20px 0;
			.form-item{
				width: 100%;
				display: block;
				height: 50px;
				border: 2px dashed $pink;
				outline: none;
				margin: 0 0 20px 0;
				font-size: .8rem;
				@include robotoB();
				box-sizing: border-box;
				padding: 0 0 0 20px;
				background: transparent;
				color: #fff;
				&:focus{
					background-color: rgba(255, 255, 255, .1);
				}
			}

			.form__submit{
				display: block;
				@include robotoB();
				width: 100%;
				font-size: .7rem;
				background-color: white;
				height: 50px;
				border: none;
				text-align: center;
				background-color: rgba($pink, .8);
				cursor: pointer;
				text-transform: uppercase;
				color: rgba(white, .9);
				transition: background-color .3s;
				outline: none;

				&:hover{
					background-color: $pink;
				}
			}
		}

	}
}
		.left__block-footer{


			ul{
				text-align: center;
				li{
					display: inline-block;
					margin: 0 20px 0 0;
					a{
					color: rgba(white, .8);
					transition: color .3s;
					&:hover{
						color: $pink;
					}
						span{
							font-size: 1.5rem;
						}
					}
				}
			}
		}

.right__block{
	// background-color: #f2f2f2;
	background: url(/assets/img/bg2.png) repeat;
	padding: 30px 30px 30px $left-block-width+30px;
	min-height: 100vh; 
	

	.right__block-title{
		@include robotoB();
		font-size: 2.2rem;
		text-align: left;
		margin: 0 0 20px 0;
		width: 700px;

		p{
			&:first-child{
			color: $pink;

		}
			&:last-child{
				color: $pink;
			}
		}
	}

	.right__block-text{
		margin: 0 0 30px 0;
		@include robotoL();
		color: black;

		.text-head{
			@include robotoB();
		}

		&:first-child{
			margin: 0 0 50px 0;
		}

		ol{
			list-style-type: disc;
			li{
				
			}
		}
	}

		 .right__block-text_bold {
			 font-family: 'robotobold';
		 }

	.right__block-text-wrap{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		color: black;
		
		.right__block-desc{
			margin: 0 30px 30px 0;
			width: 50%;
			@include robotoL();

			.right__block-desc-title{
				@include robotoB();
				margin: 0 0 20px 0;
				// color: $pink;
				padding: 0 0 20px 0;
				border-bottom: 2px dashed $pink;
			}
		}
	}

	.right__block-speakers{
		margin: 0 0 40px;
		width: 100%;

		.right__block-speakers-title{
			margin: 0 0 20px 0;
			@include robotoB();
			text-transform: uppercase;
			color: rgba($pink, .8);
			text-align: center;
			font-size: 1.5rem;
		}

		.speakers{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		color: black;

			.speaker{
				width: 45%;
				font-size: 1.1rem;
				text-align: center;

				&:first-child{
					margin: 0 30px 0 0;
				}
				
				.speaker-title{
					text-transform: uppercase;
					@include robotoB();
					color: $pink;
					margin: 0 0 10px 0;
				}

				.speaker-description{
					margin: 0 0 15px 0;
				}

				p{
					@include robotoL();
				}

				.wrap-imga{
					display: inline-block;
					
					.img-wrap{
						box-shadow: 0 0 10px rgba(0,0,0,0.5);
						border-radius: 50%;
						img{
							border-radius: 50%;
							width: 200px;
							height: 200px;
							display: block;
							margin: 0 0 10px 0;
						}
					}

					a{
						color: rgba($dark-grey, .8);
						transition: color .3s;
						display: block;
						margin: 0 0 15px 0;

						&:hover{
							color: $pink;
						}
							span{
								font-size: 1.5rem;
							}
						}
				}
			}
		}
	}

}

