// variables
$skills-height: 855px;
$skills-mt: -180px;

.skills__wrapper {
	min-height: $skills-height + $skills-mt;
}

.section__skills{
	width: 100%;
	min-height: $skills-height;
	margin-top: $skills-mt;
	position: relative;
	@extend %clearfix;
}

.section__skills_left{
	background-color: #f2f0e8;
	width: 50%;
	position: absolute;
	padding: 30px 30px 0 0;
	box-sizing: border-box;
	height: 100%;
	float: left;
	text-align: right;

	@include desktop{
		padding: 30px;
	}

	@include tablets{
		width: 100%;
		float: none;
		position: static;
		padding: 30px 100px 30px 100px;
	}
}

.skills__header{
	@include desktop{
		top: 0;
		width: auto;
		bottom: auto;
	}

	@include tablets{
		transform: translateX(-50%);
		left: 50%;
	}
}

.left__wrap{
	width: 50%;
	text-align: left;
	float: right;

	@include desktop{
		float: none;
		width: 100%;
	}
}

.header__works_about{
	height: 180px;
	width: inherit;
	position: absolute;
	left: 60px;
	top: -50px;
	fill: #dbe0e6;

	@include desktop{
		position: static;
		left: none;
		top: none;
		margin: auto;
	}

	@include tablets{
		text-align: center;
	}
}

.left__wrap-img{
	width: 100%;
	margin: auto;
	display: block;
	margin-bottom: 30px;

	@include tablets{
		width: 70%;
	}
}

.left__wrap-header{
	text-transform: uppercase;
	@include sansus();
	font-size: 35px;
	margin-bottom: 30px;
	text-align: center;
	color: $grey-blue;

	&:after{
		content: "";
		display: block;
		width: 90px;
		height: 3px;
		margin: auto;
		margin-top: 20px;
		background-color: #9c9d9f;
	}
}

.left__wrap-text{
	margin-bottom: 15px;
	color: $grey-blue;

	&:last-child{
		margin-bottom: 0px;
	}
}

.section__skills_right{
	background-color: #eae8e2;
	width: 50%;
	padding-top: 30px;
	padding-left: 30px;
	box-sizing: border-box;
	min-height: inherit;
	float: right;
	text-align: left;
	color: $grey-blue;

	@include tablets{
		width: 100%;
		float: none;
		padding: 30px 100px 30px 100px;
	}
}

.right__header{
	font-size: 35px;
	@include sansus();
	text-transform: uppercase;
	text-align: center;
	max-width: 280px;
	margin: auto;
	margin-bottom: 30px;

	&:after{
		content: "";
		display: block;
		width: 90px;
		height: 3px;
		margin: auto;
		margin-top: 20px;
		background-color: #9c9d9f;
	}
}

.right__text {
	margin: 0 0 50px 0; 
}

.right__svg{

}

.group{
	margin: 0 0 30px 0;
}
.group__title{
	@include robotoM();
	font-size: 28px;
	margin: 0 0 15px 0;
}

.group__item{
	position: relative;
	display: inline-block;
	text-align: center;
	margin: 0 40px 15px 0;
}

.item__title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.circle__bg{
	stroke: $circle-bg;
}

.circle__fill{
	stroke: $blue;
	transition: stroke-dashoffset 1s;
}