.section__form{
	background-image: url("../img/myworks-bg-form.png");
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: -$footer-height;
	padding-top: 50px;
	padding-bottom: $footer-height + 50px;

	@include tablets{
		padding: 0 0 280px 0;
		margin: 0 0 -218px 0;
	}

	@include laptop{
		margin: 0 0 -218px 0;
	}

	@include phones{
		margin-bottom: -$footer-height-phones;
		padding-bottom: $footer-height-phones + 50px;
	}
}

.section__form_wrap{
	padding: 40px 10px 0 10px;
}

.section__form_head{
	@include sansus();
	font-size: 63px;
	color: white;
	text-align: center;
	margin: 0 auto;
	max-width: 350px;
	text-transform: uppercase;
	margin-bottom: 60px;
	position: relative;

	&:before{
		content: url(../img/stars3.svg);
		position: absolute;
		opacity: .1;
		margin-left: -70px;
		left: 50%;
		margin-top: 30px;
		transform: rotate(25deg) scale(1.8); 
	}
}

.section__form_quotes{
	display: block;
	text-align: center;
	margin: 0 0 70px 0;
}

.quotes__block{
	display: inline-block;
	margin: 0 10px 30px 0;
}

.quotes__block_txt{
	color: white;
	@include robotoI();
	max-width: 360px;
	margin: 0 0 20px 0;

	&:before{
		content: "\f10d";
		 font-family: 'fontAwesome';
		color: rgba(white, .2);
		font-size: 80px;
		position: absolute;
		margin: -30px 0 0 0;
	}
}

.quotes__block_img{
	display: block;
	margin: 0 0 10px 0;
}

.quotes__block_img-item{
	height: 140px;
	width: 140px;
	border-radius: 50%;
}

.quotes__block_peoples{
	display: block;
}

.quotes__block_name{
	color: white;
	font-size: 16px;
	@include robotoBI();
}

.quotes__block_post{
	color: white;
	font-size: 16px;
	@include robotoI();
}

.form__wrap{
	display: block;
	margin: auto;
	max-width: 380px;
	width: 100%;
	background: rgba(white, .1);
	padding-top: 30px;
	box-sizing: border-box;
	margin-bottom: 60px;
}

.form{
	text-align: center;
	width: 100%;
	position: relative;
}

.form__text{
	text-align: center;
	@include sansus();
	font-size: 35px;
	color: white;
	margin: 0 auto;
	text-transform: uppercase;
	margin-bottom: -20px;
}

.form__line{
	color: rgba(white, .2);
	font-size: 40px;
	@include robotoB();
	margin-bottom: 30px;
}

.form__name, .form__email, .form__msg{
	width: 340px;
	height: 45px;
	background: rgba(white, .2);
	border: none;
	outline: none;
	color: rgba(white, .9);
	margin: 0px 20px 20px 20px;
	@include robotoR();
	padding-left: 15px;
	font-size: 16px;
	box-sizing: border-box;
	cursor: pointer;

	@include phones{
		width: 90%;
		margin: 0px 0px 20px 0px;
	}
}

.form__msg{
	height: 130px;
	vertical-align: top;
	padding: 10px;
	resize: none;
}

.form__button{
	display: inline-block;
	height: 45px;
	width: 188px;
	border: 0;
	text-align: center;
	cursor: pointer;
	padding: 0;
	margin: 0;
	@include robotoR();
	font-size: 16px;
	background-color: transparent;

	&:hover{
		background-color: $blue;
		color: white;
	}
}

.form__submit{
	color: white;
	transition: .3s;

	&:hover{
		color: white;
	}
}

.form__clear{
	color: rgba(white, .3);
	transition: .3s;
}

.form__top-icon{
	text-align: center;
	color: rgba(white, 0.5);


	a{
		font-size: 30px;
		transition: color, .3s;
		color: rgba(white, .5);
		&:visited{
			color: rgba(white, .5);
		}
		&:hover{
			color: $blue;
		}
	}
}